/* GOOGLE FONTS (MUST BE FIRST) */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100..900&display=swap');

/* SOUND OVERLAY */
#soundOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#soundBtn {
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background: #fa0561;
    color: white;
    cursor: pointer;
}

/* MAIN PAGE STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: "Nunito", sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

.buttons {
    margin-top: 20px;
}

.yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fa0561;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button:hover {
    background-color: #e03777;
}

.no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #d3d3d3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gif_container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
